h1 {
    color: darkgreen;
    text-align: center;
}

body {
    background-color: lightgray;
}

input[type=button],
input[type=submit] {
    background-color: darkblue;
    border: none;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}