
body {
    background: lightgray;
}

.container {
    width: 500px;
    margin: 50px auto;
    border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: lightblue;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.button {
    background-color: #30a6e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.button:hover {
    background-color: #34495e;
}

.show-password {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}